.elementor-5889 .elementor-element.elementor-element-3dcc63e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px
}

.elementor-5889 .elementor-element.elementor-element-3dcc63e:not(.elementor-motion-effects-element-type-background),
.elementor-5889 .elementor-element.elementor-element-3dcc63e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #f1eeec 0%, #fff3ec 100%)
}

.elementor-5889 .elementor-element.elementor-element-5b03fcb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap
}

.elementor-5889 .elementor-element.elementor-element-74654c4 {
    --display: flex
}

.elementor-5889 .elementor-element.elementor-element-0dfe5e3 {
    margin: -10px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
}

.elementor-5889 .elementor-element.elementor-element-0dfe5e3 img {
    width: 23%
}

.elementor-5889 .elementor-element.elementor-element-92c20a2 {
    --display: flex;
    --margin-top: -35px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px
}

.elementor-5889 .elementor-element.elementor-element-89e8e01 {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-666e3cf {
    --grid-template-columns: repeat(0, auto);
    text-align: center;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px
}

.elementor-5889 .elementor-element.elementor-element-666e3cf .elementor-social-icon {
    background-color: #000
}

.elementor-5889 .elementor-element.elementor-element-5b66967 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap
}

.elementor-5889 .elementor-element.elementor-element-cbbe363 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-cbbe363 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-feff7a2 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-feff7a2 .elementor-heading-title {
    font-family: "Baskervville", Sans-serif;
    font-weight: 500;
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-c2ae35a {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-c2ae35a .elementor-heading-title {
    font-family: "Baskervville", Sans-serif;
    font-weight: 500;
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-0d979c5 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-0d979c5 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-f46bc79 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-f46bc79 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-8c98054 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-8c98054 .elementor-heading-title {
    font-family: "Baskervville", Sans-serif;
    font-weight: 500;
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-5a85cdd {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-5a85cdd .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-dd9f4bb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap
}

.elementor-5889 .elementor-element.elementor-element-e23a963 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-e23a963 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-8f472d1 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-8f472d1 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-fe23b49 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-fe23b49 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-643285a {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-643285a .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-5dc6684 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-5dc6684 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-f588ed4 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-f588ed4 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-e18f57c {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-e18f57c .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-9c1bce3 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start
}

.elementor-5889 .elementor-element.elementor-element-41bc1d9 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-41bc1d9 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-e9bbcb5 {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-e9bbcb5 .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-7cf9dea {
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-7cf9dea .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-6a4871b {
    width: var(--container-widget-width, 105.482%);
    max-width: 105.482%;
    --container-widget-width: 105.482%;
    --container-widget-flex-grow: 0;
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-6a4871b.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-5889 .elementor-element.elementor-element-6a4871b .elementor-heading-title {
    color: #000
}

.elementor-5889 .elementor-element.elementor-element-c50b8d7 {
    --display: flex;
    --min-height: 45px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 3%;
    --padding-right: 3%
}

.elementor-5889 .elementor-element.elementor-element-c50b8d7:not(.elementor-motion-effects-element-type-background),
.elementor-5889 .elementor-element.elementor-element-c50b8d7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1b1815
}

body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
    left: 256px
}

body.rtl .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
    right: 256px
}

.elementor-5889 .elementor-element.elementor-element-cdb49f2 {
    top: 12px;
    text-align: start
}

.elementor-5889 .elementor-element.elementor-element-cdb49f2 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff
}

body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-8dbc459 {
    left: 1702px
}

body.rtl .elementor-5889 .elementor-element.elementor-element-8dbc459 {
    right: 1702px
}

.elementor-5889 .elementor-element.elementor-element-8dbc459 {
    top: 14px;
    text-align: start
}

.elementor-5889 .elementor-element.elementor-element-8dbc459 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff
}

body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-6874d76 {
    left: 900px
}

body.rtl .elementor-5889 .elementor-element.elementor-element-6874d76 {
    right: 900px
}

.elementor-5889 .elementor-element.elementor-element-6874d76 {
    top: 12px;
    text-align: center
}

.elementor-5889 .elementor-element.elementor-element-6874d76 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 0px;
    word-spacing: 0em;
    color: #fff
}

.elementor-theme-builder-content-area {
    height: 400px
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both
}

@media(max-width:1024px) {
    .elementor-5889 .elementor-element.elementor-element-666e3cf {
        text-align: center
    }
    .elementor-5889 .elementor-element.elementor-element-c50b8d7 {
        --padding-top: 0%;
        --padding-bottom: 0%;
        --padding-left: 5%;
        --padding-right: 5%
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        left: 15px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        right: 15px
    }
    .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        top: 13px
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-8dbc459 {
        left: 650px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-8dbc459 {
        right: 650px
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-6874d76 {
        left: 316px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-6874d76 {
        right: 316px
    }
    .elementor-5889 .elementor-element.elementor-element-6874d76 .elementor-heading-title {
        font-size: 14px
    }
}

@media(min-width:768px) {
    .elementor-5889 .elementor-element.elementor-element-5b03fcb {
        --width: 25%
    }
    .elementor-5889 .elementor-element.elementor-element-5b66967 {
        --width: 25%
    }
    .elementor-5889 .elementor-element.elementor-element-dd9f4bb {
        --width: 25%
    }
    .elementor-5889 .elementor-element.elementor-element-9c1bce3 {
        --width: 25%
    }
}

@media(max-width:767px) {
    .elementor-5889 .elementor-element.elementor-element-0dfe5e3 {
        margin: -28px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        padding: 0 0 20px
    }
    .elementor-5889 .elementor-element.elementor-element-89e8e01 {
        margin: 8px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-666e3cf {
        margin: -32px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-5b66967 {
        --margin-top: -16px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-5889 .elementor-element.elementor-element-feff7a2 {
        margin: -17px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-c2ae35a {
        margin: -16px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-0d979c5 {
        margin: -17px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-f46bc79 {
        margin: -16px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-8c98054 {
        margin: -17px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-5a85cdd {
        margin: -17px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-dd9f4bb {
        --margin-top: -14px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-5889 .elementor-element.elementor-element-8f472d1 {
        margin: -13px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-fe23b49 {
        margin: -14px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-643285a {
        margin: -16px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-5dc6684 {
        margin: -18px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-f588ed4 {
        margin: -17px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    .elementor-5889 .elementor-element.elementor-element-e18f57c {
        margin: -15px 0 calc(var(--kit-widget-spacing, 0px) + 0px) 0px
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        left: 13px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        right: 13px
    }
    .elementor-5889 .elementor-element.elementor-element-cdb49f2 {
        top: 17px
    }
    .elementor-5889 .elementor-element.elementor-element-cdb49f2 .elementor-heading-title {
        font-size: 10px
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-8dbc459 {
        left: 301px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-8dbc459 {
        right: 301px
    }
    .elementor-5889 .elementor-element.elementor-element-8dbc459 {
        top: 15px
    }
    .elementor-5889 .elementor-element.elementor-element-8dbc459 .elementor-heading-title {
        font-size: 10px
    }
    body:not(.rtl) .elementor-5889 .elementor-element.elementor-element-6874d76 {
        left: 125px
    }
    body.rtl .elementor-5889 .elementor-element.elementor-element-6874d76 {
        right: 125px
    }
    .elementor-5889 .elementor-element.elementor-element-6874d76 {
        top: 15px
    }
    .elementor-5889 .elementor-element.elementor-element-6874d76 .elementor-heading-title {
        font-size: 10px
    }
}