.elementor-6143 .elementor-element.elementor-element-4511a023 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 5%;
    --padding-right: 5%;
    --z-index: 95
}

.elementor-6143 .elementor-element.elementor-element-4511a023:not(.elementor-motion-effects-element-type-background),
.elementor-6143 .elementor-element.elementor-element-4511a023>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f1eeec
}

.elementor-6143 .elementor-element.elementor-element-3b719af5 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-6143 .elementor-element.elementor-element-5e629f5f {
    text-align: start
}

.elementor-6143 .elementor-element.elementor-element-7355cd23 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 2.2% 2.2%;
    --row-gap: 2.2%;
    --column-gap: 2.2%;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db {
    width: auto;
    max-width: auto;
    --e-nav-menu-horizontal-menu-item-margin: calc( 40px / 2)
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-menu-toggle {
    margin-left: auto;
    background-color: #FFFFFF00;
    border-width: 0;
    border-radius: 0
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu .elementor-item {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: -.45px
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item {
    color: #000;
    fill: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item:hover,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item:focus {
    color: #fff
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .e--pointer-framed .elementor-item:before,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .e--pointer-framed .elementor-item:after {
    border-color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #f8f3ef
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #f8f3ef
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 40px
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown {
    background-color: #fff
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a:hover,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a:focus,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a.highlighted,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-menu-toggle:hover,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-menu-toggle:focus {
    color: #fff
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a:hover,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a:focus,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown a.highlighted {
    background-color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown .elementor-item,
.elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1.53px
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle {
    color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle svg {
    fill: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle:hover,
.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle:focus {
    color: #000
}

.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle:hover svg,
.elementor-6143 .elementor-element.elementor-element-5b0e3db div.elementor-menu-toggle:focus svg {
    fill: #000
}

.elementor-theme-builder-content-area {
    height: 400px
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both
}

@media(max-width:1024px) {
    .elementor-6143 .elementor-element.elementor-element-7355cd23 {
        --gap: 6% 6%;
        --row-gap: 6%;
        --column-gap: 6%
    }
    .elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 22px !important
    }
    .elementor-6143 .elementor-element.elementor-element-5b0e3db .elementor-menu-toggle {
        border-width: 1px;
        border-radius: 0
    }
}

@media(min-width:768px) {
    .elementor-6143 .elementor-element.elementor-element-3b719af5 {
        --width: 10%
    }
    .elementor-6143 .elementor-element.elementor-element-7355cd23 {
        --width: 90%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6143 .elementor-element.elementor-element-3b719af5 {
        --width: 15%
    }
    .elementor-6143 .elementor-element.elementor-element-7355cd23 {
        --width: 85%
    }
}

@media(max-width:767px) {
    .elementor-6143 .elementor-element.elementor-element-3b719af5 {
        --width: 30%
    }
    .elementor-6143 .elementor-element.elementor-element-5e629f5f img {
        width: 85%
    }
    .elementor-6143 .elementor-element.elementor-element-7355cd23 {
        --width: 70%
    }
}

.elementor-6143 .elementor-element.elementor-element-4511a023.elementor-sticky --effects {
    background-color: rgba(0, 0, 0, .7) !important
}

.elementor-6143 .elementor-element.elementor-element-4511a023 {
    transition: background-color 1s ease important
}

.elementor-6143 .elementor-element.elementor-element-4511a023.elementor-sticky --effects>.elementor -container {
    min-height: 70px
}

.elementor-6143 .elementor-element.elementor-element-4511a023 elementor -container transition:min-height 1s ease !important;